<ul class="tabs">
  <% @statuses.each do |status| %>
    <li <% if status == @current_status %> class="selected" <% end %>><%= link_to "#{status} (#{@books[status].length})", books_path(:status => status) %></li>
  <% end %>
</ul>

<ul class="list">
  <% @books[@current_status].each do |book| %>
    <li><%= link_to book.title, book %> <%= book.author %></li>
  <% end %>
  <li class="last"><%= link_to 'New Book', new_book_path %></li>
</ul>

<br />

