<ul>
  <% @statuses.each do |status| %>
    <li <% if status == @current_status %> class="selected" <% end %>><%= link_to "#{status} (#{@books[status].length})", books_path(:status => status) %></li>
  <% end %>
</ul>

<table>
  <% @books[@current_status].each do |book| %>
    <tr>
      <td><%= link_to book.title, book %></td>
      <td><%= book.author %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Book', new_book_path %>
