body {
    background-color: #DDD;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

a {
    color: #000;
    &:visited {
	color: #666;
    }
    &:hover {
	text-decoration: none;
    }
}

div.main {
    background-color: white;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border: 1px solid #888;
}

.main h1 {
    text-align: center;
    padding: 20px;
}

.main ul.tabs {
    list-style-type: none;
    margin-top: 0;
    padding-top: 5px;
    padding-left: 0;
    text-align: center;
    background-color: #DDD;
    border-bottom: 1px solid #888;
}

.main ul.tabs li {
    display: inline;
    background-color: #DDD;
    border: 1px solid #888;
    border-bottom: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #888;
}

.main ul.tabs li.selected {
    background-color: #FFF;
    border-bottom: 1px solid #FFF;
}

.main ul.tabs li a {
    text-decoration: none;
    padding: 5px;
}

.main ul.list {
    padding: 5px;
    list-style-type: none;
}

.main ul.list li {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 5px;
}

.main ul.list li.last {
    border-bottom: 1px solid black;
}

.right {
    text-align: right;
    float: right;
}
