body {
    background-color: #DDD;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

a {
    color: #000;
    &:visited {
	color: #666;
    }
    &:hover {
	text-decoration: none;
    }
}
