<h1>Playlists</h1>

<ul class="list">
  <% @playlists.each do |playlist| %>
    <li>
	  <%= link_to playlist.name, playlist %>
	  <div class="right"><%= link_to "choose", choose_playlist_path(playlist) %></div>
	</li>
  <% end %>
  <li class="last"><%= link_to 'New Playlist', new_playlist_path %></li>
</ul>

<br />
