<!DOCTYPE html>
<html>
<head>
  <title>Read To Me</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="main">
    <h1>Read to Me</h1>
  </div>
  <div class="main">
    <%= yield %>
  </div>
</body>
</html>
